/*
 * Copyright © 2021. Joshua A. Graham https://status.gallery/. See LICENSE.txt for usage rights.
 */

body {
    margin: 0.5rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration-line: underline;
}

.turbo-progress-bar {
    height: 15px;
    background-color: fuchsia;
}

.box {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem
}

.red {
    background-color: red;
}

.green {
    background-color: darkgreen;
}

.amber {
    background-color: gold;
}

.gray {
    background-color: darkgray;
}

time#clock {
    color: darkslategray;
    text-shadow: 1px 1px 0 hsla(0, 100%, 100%, 0.5);
}

.text-shadow {
    text-shadow: 1px 1px 1px hsla(0, 100%, 0%, 0.5);
}

.text-etched {
    text-shadow: 1px 1px 0 hsla(0, 100%, 100%, 0.5);
}

.x-small {
    font-size: x-small;
}

.text-fade-in {
    animation: fadeIn linear 500ms;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
