<!--
  ~ Copyright © 2021. Joshua A. Graham https://status.gallery/. See LICENSE.txt for usage rights.
  -->

<footer class="position-relative x-small mt-4 text-fade-in">
  <div class="position-absolute bottom-0 start-50 translate-middle-x">Copyright &copy; 2021,
    <a href="https://status.gallery/">https://status.gallery/</a>
  </div>
</footer>
