<!--
  ~ Copyright © 2021. Joshua A. Graham https://status.gallery/. See LICENSE.txt for usage rights.
  -->

<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<meta content="#449944" media="(prefers-color-scheme: light)" name="theme-color">
<meta content="#003300" media="(prefers-color-scheme: dark)" name="theme-color">

<link href="/stylesheets/bootstrap.min.css" rel="stylesheet"/>
<script src="/scripts/bootstrap.min.js" async defer></script>

<script src="/scripts/turbo.js"></script>

<link href="/stylesheets/main.css" rel="stylesheet"/>
