<div class="container" data-th-fragment="instance-status-li">
  <div class="row">
    <div class="col px-0">
      <a class="fw-bold" data-th-href="*{uri}" data-th-text="*{uri}">http://example.com/</a>
    </div><!--/*
    <div class="col-auto px-0">
        Latency
    </div>*/-->
  </div>
  <div class="row">
    <div class="col px-0">
      <span class="fw-bold" data-th-text="*{status}">Status</span>
      <span class="fw-lighter x-small fst-italic">at</span>
      <time class="fw-lighter x-small font-monospace"
            data-th-data-bounce="*{timestampBounce}"
            data-th-datetime="*{timestamp}"
            data-th-text="*{hhmmss}">HH:MM:SS
      </time>
    </div><!--/*
    <div class="col-auto px-0">
        Error
    </div>*/-->
  </div>
</div>
