<div class="container" data-th-fragment="observee-status-li">
  <div class="row">
    <div class="col px-0">
      <a class="fw-bold text-dark" data-th-href="*{location}" data-th-text="*{label}">
        An Observee
      </a>
    </div>
    <div class="col-auto px-0 shadow-sm">
      <span data-th-class="|badge *{color}|">Instances
        <span class="badge bg-info ms-1 text-dark text-etched" data-th-text="*{count}">99</span>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col px-0">
      <span class="fw-bold" data-th-text="*{status}">Status</span>
      <span class="fw-lighter x-small fst-italic">at</span>
      <time class="fw-lighter x-small font-monospace"
            data-th-datetime="*{timestamp}"
            data-th-text="*{hhmmss}">HH:MM:SS
      </time>
    </div>
  </div>
</div>
