<turbo-stream action="replace" data-th-each="instance : *{instances}" data-th-target="|instance${instance.id}|">
  <template>
    <li data-th-class="|my-1 py-3 d-flex list-group-item list-group-item-*{alert}|" data-th-id="|instance*{id}|" data-th-object="${instance}">
      <link data-th-replace="~{fragments/instance-status-li :: instance-status-li}">
    </li>
  </template>
</turbo-stream>
