<turbo-stream action="replace" data-th-each="observee : *{observees}" data-th-target="|observee${observee.id}|">
  <template>
    <li data-th-class="|my-1 py-3 d-flex list-group-item list-group-item-*{alert}|" data-th-id="|observee*{id}|" data-th-object="${observee}">
      <link data-th-replace="~{fragments/observee-status-li :: observee-status-li}">
    </li>
  </template>
</turbo-stream>
